.container {
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.content {
    flex-basis: 40%;
    overflow: hidden;
}

.cont_img {
    flex-basis: 40%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.img {
    width: 100%;
}

.button{
    width: 50%;
    height: 50px;
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column-reverse;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .content{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        flex-direction: cover;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        text-align: center;
    }

    .img {
        height: 80%;
    }

    .button{
        width: 100%;
    }
}