.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../images/nosotros/nosotros.png);
    background-size: cover;
    display: flex;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 450px;
}

@media screen and (max-width: 1024px) {
    .container {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .content{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        flex-direction: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}